/* 	Designed and Coded by Theodore Philip Rees to advance my current 
	skills in web design and showcase my knowledge of web programming!

*/

form {
	margin: 0px;
	padding: 0px;
}

#loginbtn {
	width: 50px;
	height: 25px;

	background: #ddd;

	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}

#emailRetrievalbtn {
	width: 150;
	height: 25px;

	border: none;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;

        background: #D33;

	color: #f2f1f0;
        text-decoration:none;
	font: normal 12px Arial, Helevetica, sans-serif;
}

#loginbtn:hover {
	width: 50px;
	height: 25px;

	background: #ccc;


	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#emailRetrievalbtn:hover {
	width: 150;
	height: 25px;

        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;

        background: #c22;

        color: #f2f1f0;
        text-decoration:none;
}

#userid, #password {
	width: 100px;
	height: 20px;

	padding: 0px 0px 0px 10px;

	background: #f2f1f0;

	border: none;
	border-bottom: 1px dashed #BE2625;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}

#userid2, #password2, #emailRetrieval {
	width: 200px;
	height: 30px;

	padding: 0px 0px 0px 10px;

	background: #f2f1f0;

	border: none;
	border-bottom: 1px dashed #BE2625;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}
#searchF {
	width: 250px;
	height: 25px;

	padding: 0px 0px 0px 10px;

	background: #f2f1f0;

	border: none;
	border-bottom: 1px dashed #BE2625;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 14px Arial, Helvetica, sans-serif;
	color: #BE2625;
}
#firstName, #lastName, #email, #useridREG, #passwordREG, #confirmPASS {
	width: 200px;
	height: 30px;

	padding: 0px 0px 0px 10px;

	background: #f2f1f0;

	border: none;
	border-bottom: 1px dashed #BE2625;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 16px Arial, Helvetica, sans-serif;
	color: #BE2625;
}

#title {
	width: 500px;
	height: 25px;

	padding: 0px 0px 0px 10px;

	background: #f2f1f0;

	border: none;
	border-bottom: 1px dashed #BE2625;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}


#signUPbtn, #updatebtn, #archivebtn, #spiceUPbtn {
	width: 100px;
	height: 25px;

	background: #ddd;

	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}
#signUPbtn:hover, #updatebtn:hover, #archivebtn:hover {
	width: 100px;
	height: 25px;

	background: #ccc;


	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}

#shortdesc, #comment {
	width: 500px;
	height: 50px;

	padding: 0px 0px 0px 10px;

	background: #ffffff;

        border: 1px solid #2c2c2c;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}

#ingredients, #directions {
	width: 500px;
	height: 130px;

	padding: 0px 0px 0px 10px;

	background: #ffffff;

	border: 1px solid #2c2c2c;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	font: normal 12px Arial, Helvetica, sans-serif;
	color: #BE2625;
}
select {
 	padding 5px 5px;
	width: 40%;
 	border: none;

         border-radius: 5px;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;

 	box-shadow: none;
 	background: #33cc33;
 	color: #f2f1f0;
 	background-image: none;
 	-webkit-appearance: none;
}
select:focus {
 	outline: none;
 	background: #f2f1f0;
 	color: black;
 	background-image: none;
 	-webkit-appearance: none;
}
